/* GENERAL */
body {
  padding-top: 70px;
}
.blur{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
/* NAVIGATION */
.navEffect{
  margin-left: 15px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
.navEffect:hover, .navEffect:focus{
  background-size: 100% 2px;
}
.active{
  font-weight: 900;
}
/* HOME */
.quote{
  font-size: 25px; 
  text-align: justify; 
  padding-right: 30px; 
  padding-top: 30px;
  padding-bottom: 30px;
}
.cardIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px; 
  padding: 10px; 
  border-radius: 50%;
  border: 1px solid #eee;
  background: linear-gradient(to right, #fff 50%, #e9ded0);
}
/* PORTFOLIO */
.image{
  width: 300px;
  height: auto;
}
/* FORMS */
.lightPlaceholder{
  background: transparent;
  color: #fff;
}
.lightPlaceholder::placeholder{
  color: #fff;
}
.lightPlaceholder:focus{
  background: transparent;
  color: #fff;
  outline: none;
}
.darkPlaceholder{
  background: transparent;
  color: #000;
  border: 1px solid #000
}
.darkPlaceholder::placeholder{
  color: #000;
}
.darkPlaceholder:focus{
  background: transparent;
  color: #000;
} 
/* SIGIN */
.cardImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 12px; 
  background-color: #fff; 
  border-radius: 50%;
}
/* FOOTER */
.footer{
  font-size: 0.7rem;
}